{% extends "base.html" %}
{% load static %}
{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home_styles.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div id="home-content">
                <h1>Mohammad Shir Mohammadi</h1>
                <h3>Just for test</h3>
                <hr>
                <a href="#" class="btn btn-primary">See me</a>
            </div>
        </div>
    </div>
</div>















{% endblock %}