{% extends "base.html" %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form action="" method="POST">
    {% csrf_token %}

    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" placeholder="Enter Username">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Enter Password">
    </div>
    <button type="submit" class="btn btn-primary">login in </button>
</form>
 <hr>
<p>Need an account? <a href="">sign up here!</a></p>
<p>Forget Your password <a href="">Click here</a> </p>


        </div>
    </div>
</div>



















</form>
{% endblock %}