{% extends "base.html" %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <form action="" method="POST">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" placeholder="Enter your email">
                </div>
                <button type="submit" class="btn btn-primary">send password rest</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}